@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&display=swap');

#hero {
  height: 70vh;
  background-color: #fde9db;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

#hero-body {
    padding-top: 105px;
}

#title-text {
  font-size: 47px;
  font-family: 'DM Serif Display', serif;
  color: black;
  letter-spacing: 1px;
}

#price-text {
    font-weight: 700;
    color: black;
    /* margin-top: 2px; */
    padding-top: 6px;
    font-size: 21px;
}

#input {
    height: 60px;
    font-size: 18px;
    border-radius: 0px !important;
    border: none;
    color: black;
    padding-left: 30px;
}

#input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
    letter-spacing: 2.5px;
  }

#search-button {
    height: 60px;
    width: 120px;
    background-color: black;
    font-size: 14px;
    border-radius: 0px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
}

#small-text {
    font-size: 13px;
    margin-top: 30px;
}